
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
.phpunit.result.cache
.phpactor.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.phpunit.cache
*.log
.DS_Store
Thumbs.db
